@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, wheat, white);
    padding: 10px;
}

.App {
    max-width: 700px;
    width: 100%;
    background-color: white;
    padding: 25px 30px;
    border-radius: 5px;
}

.title {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    position: relative;
}

.App .title::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 35px;
    background: linear-gradient(135deg, wheat, white);
}

.logo {
    display: block;
    margin: 0 auto;
    width: 25%;
    cursor: pointer;
}

.inputBox {
    position: relative;
    left: 25%;
    margin: 10px 0px;
    width: calc(100% / 2 - 20px );
}

.inputBox .input {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-bottom-width: 2px;
    transition: all 0.3s ease-in-out;

}

.inputBox .input:focus, 
.inputBox .input:valid {
    border-color: rgb(216, 209, 223);
}

.error {
    color: red;
    position: relative;
    left: 40%;
    font-style: italic;
}